@import "../../../styles/variables.scss";

.tableContainer {
  width: 100%;
  overflow-x: auto; /* Allow horizontal scrolling */
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.05);
  border-radius: $border-radius;
  min-width: 600px; /* Minimum width for larger screens */
}

th, td {
  padding: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-align: left;
}

th {
  background: $primary-color;
  color: white;
  font-weight: bold;
}

tr:hover {
  background: rgba(255, 255, 255, 0.1);
  transition: $transition;
}

/* Mobile */
@media (max-width: 480px) {
  .table {
    min-width: 100%; /* Ensure the table fits smaller screens */
    padding: 5px;
  }

  thead {
    display: none; /* Hide headers on mobile */
  }

  tr {
    display: block;
    margin-bottom: 10px;
    border-radius: $border-radius;
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  td {
    display: block;
    text-align: right;
    position: relative;
    padding: 5px 10px;
    border: none;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 5px;
    font-weight: bold;
    color: white;
    text-align: left;
  }

  td[data-label="Actions"] {
    text-align: center;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .table {
    min-width: 100%;
    padding: 5px;
  }

  thead {
    display: none; /* Hide table headers on tablets */
  }

  tr {
    display: block;
    margin-bottom: 10px;
    border-radius: $border-radius;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  td {
    display: block;
    text-align: right;
    position: relative;
    padding: 8px 12px;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    font-weight: bold;
    color: white;
    text-align: left;
  }

  td[data-label="Actions"] {
    text-align: center;
  }
  td[data-label="UUID"] {
    padding-left: 60px; /* Give extra padding to prevent overlap with label */
  }
}
